html, body {
    margin: 0;
    background: #FF0099;
background: -webkit-linear-gradient(to right, #1709dd, #FF0099);
background: linear-gradient(to right, #e0cb0a, #FF0099); 


}

.app{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 63px;

}