.card{
    width: 250px;
    height: 300px;
    margin: 20px 10px;
    border-radius: 20px;
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #b5b3b3;
    padding: 2px;
    color: #b1b1b1;
}

.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
}

.center{
    margin-bottom: 60px;
}

.center h3{
    font-size: 20px;
    font-weight: 400;
}

.center h2{
    font-size: 20px;
}

.center tag{
    display: flex;
    gap: 5px;
}

.center .tag button{
    color: rgb(0, 0, 0);
    background-color:#3aa5b5;
    border: 1px solid white;
    margin-right: 5px;
    border-radius: 5px;
}

.center h3 span{
    font-size: 11px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-left: 11px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1b1;
    padding-top: 10px ;
}

.bottom button{
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    column-width: 600;
}

.bottom h3{
    font-size: 17px;
    margin: 0;

}

.bottom p{
    font-size: 10px;
    margin: 0;
}