.card{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(152, 236, 211);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
    color: #b1b1b1;
}

.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
}

.center{
    margin-bottom: 60px;
}

.center h3{
    font-size: 20px;
    font-weight: 400;
}

.center h2{
    font-size: 20px;
}

.center tag{
    display: flex;
    gap: 5px;
}

.center .tag button{
    color: brown;
    background-color: burlywood;
    margin-right: 5px;
    border-radius: 5px;
}

.center h3 span{
    font-size: 10px;
    font-weight: 400;
    color: blue;
    margin-left: 5px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1b1;
    padding-top: 10px ;
}

.bottom button{
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    column-width: 600;
}

.bottom h3{
    font-size: 17px;
    margin: 0;

}

.bottom p{
    font-size: 10px;
    margin: 0;
}